* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ---------common classes -------*/
.fill-btn,
.ghost-btn {
  background: #f4a42f;
  display: block;
  width: auto;
  padding: 12px 9px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.fill-btn:hover,
.fill-btn:focus {
  background: #d59228;
  color: #fff;
}

.ghost-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #f4a42f;
}

.ghost-btn:hover,
.ghost-btn:focus {
  background: #d59228;
  color: #fff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* -------header----- */
.navbar {
  background-color: #000;
}

.navbar-brand img {
  width: 130px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #f4a42f;
}
.login-sell-block{
  display: none;
}
.desktop-only .login-cart-block{
  display: flex !important;
}

.login-cart-block i {
  color: #fff;
  cursor: pointer;
}

.moblile-only form {
  display: none;
}

form {
  outline: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form>.textbox {
  outline: 0;
  height: 42px;
  width: 180px;
  max-width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: #fff;
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.navbar-toggler {
  outline: none;
}

form>.textbox:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

form>.button {
  outline: 0;
  background: none;
  background-color: #f4a42f;
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form>.button:hover {
  background-color: #f19d23;
}

.cart-icon,
.login-icon {
  position: relative;
}

.cart-icon .shop_i {
  cursor: pointer;
}

.cart-icon .badge {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  top: -8px;
  background: #eda31a;
  border-radius: 50%;
  text-align: center;
  right: -8px;
  color: #fff;
}

.cart-block,
.login-block {
  background-color: #fff;
  width: 330px;
  position: absolute;
  right: -10px;
  top: 90px;
  background: #fff;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 2px #aaa;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.login-block {
  width: 200px;
  right: -2px;
}

.cart-block.show,
.login-block.show {
  visibility: visible;
  opacity: 1;
  top: 47px;
  z-index: 1;
}

.cart-block:before,
.login-block:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #fff;
  right: 7px;
  top: -30px;
}

.cart-block h3 {
  color: #000;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cart-block span {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  color: red;
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.cart-block a {
  background: #f5f5f5;
  text-align: center;
  margin-bottom: 2px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  padding: 10px 5px;
}

/* -----------sub header------- */
.sub-header {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #f4a42f;
}

.sub-header .money-back,
.sub-header .shipping {
  position: relative;
}

.sub-header .money-back:after,
.sub-header .shipping:after {
  content: '';
  position: absolute;
  height: 10px;
  display: inline-block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 1px;
}

.sub-header a {
  color: #fff;
}

.sub-header a,
.sub-header span {
  text-transform: uppercase;
}

.sub-header .row {
  padding: 10px 0;
}

.sub-header .shipping span:first-child {
  color: #f4a42f;
  padding-right: 5px;
}

.sub-header .call-us a {
  color: #f4a42f;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.sub-header .call-us i {
  font-size: 16px;
}

/* ------banner section------ */
.banner-wrapper .left-section,
.banner-wrapper .right-section {
  flex: 1 0 50%;
  max-width: 50%;
  position: relative;
}

.banner-wrapper .left-section img,
.banner-wrapper .right-section img {
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.banner-wrapper .left-section:hover img,
.banner-wrapper .right-section:focus img,
.banner-wrapper .left-section:focus img,
.banner-wrapper .right-section:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.banner-wrapper .floating-btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.banner-wrapper .floating-btn:hover {
  background-color: #000;
}

.banner-wrapper .floating-btn img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* -------browse-car--------- */
.browse-car {
  margin: 40px 0 30px 0;
}

.browse-car h3 {
  margin-bottom: 30px;
}

.browse-car .browse-car-row {
  display: flex;
}

.browse-car .browse-car-inner {
  flex: 1 0 33.33%;
  max-width: 33.33%;
}

.browse-car .browse-car-inner a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.browse-car .browse-car-inner a span {
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  align-self: center;
}

.browse-car .browse-car-inner:nth-child(2) a {
  height: 100%;
}

.browse-car .browse-car-inner a img {
  transition: all 0.3s ease-in-out;
}

.browse-car .browse-car-inner a:hover img {
  transform: scale(1.1);
}

.browse-car .browse-car-inner a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 1;
  height: 100%;
}

/* ----------search-popup---------- */
.search-popup {
  display: none;
  top: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: 40px;
  overflow-x: hidden;
  background: rgba(244, 164, 47, 0.56);
}

.show-search {
  overflow: hidden;
}

.show-search .search-popup {
  display: block;
}

.search-popup .search-wrapper {
  width: 100%;
  height: 100%;
}

.search-popup .input-text {
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 40px 40px;
  height: 60px;
  outline: none;
  padding: 10px 60px 10px 60px;
}

.history-block {
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.history-block .history-content {
  display: flex;
  flex-direction: column;
}

.history-block .history-content span {
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
  padding: 6px 5px 0px 19px;
}

.search-popup .history-block.show-history {
  display: block;
}

.close-popup .search-popup {
  display: none;
}

.show-suggestion .search-popup .history-block.show-history {
  display: none;
}

.show-suggestion .search-suggestion {
  display: block;
}

.search-popup .search-box {
  position: relative;
  margin-bottom: 10px;
}

.search-box .close_i {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-popup .search_i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  font-size: 26px;
}

.search-suggestion {
  background-color: #fff;
  border-radius: 10px;
  display: none;
}

.suggestion-row {
  display: flex;
}

/* ----category-list-wrapper--- */
.category-list-wrapper {
  padding: 12px 0;
}

.categories-list a,
.category-block .catergory-column .ghost-btn,
.product-block .product-column .ghost-btn {
  margin-top: 24px;
  max-width: 180px;
  margin: 10px 0 0 0;
}

.categories-list {
  min-width: 240px;
  border-right: 1px solid #ddd;
}

.categories-list h4 {
  padding: 20px 0px 5px 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.categories-list ul {
  list-style-type: none;
}

.categories-list ul li {
  padding: 0px 0px 10px 30px;
}

.category-block,
.brand-block,
.product-block {
  padding: 0 30px;
}

.category-block h4,
.brand-block h4,
.product-block h4 {
  padding: 8px 0px 5px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.category-block .category-row,
.brand-block .brand-row,
.product-block .product-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

.product-block .product-row {
  border: 0;
}

.category-block .catergory-column,
.product-block .product-column {
  flex: 1 0 32%;
  max-width: 32%;
  margin: 0 7px 20px 0;
}

.brand-block .brand-column {
  flex: 1 0 19%;
  max-width: 19%;
  margin: 0 8px 20px 0;
}

.category-block .catergory-column a,
.brand-block .brand-column a,
.product-block .product-column a {
  display: flex;
  align-items: center;
}

.category-block .catergory-column img {
  width: 70px;
  margin-right: 10px;
}

.category-block .catergory-column span {
  font-size: 14px;
  color: #000;
}

.brand-block .brand-column img {
  width: 100px;
  height: auto;
  max-width: 100%;
}

.brand-block .brand-column a {
  justify-content: center;
  border-radius: 3px;
  position: relative;
  height: 70px;
}

.brand-block .brand-column a:after {
  background: rgba(0, 0, 0, 0.02);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background 150ms ease-out;
  transition: background 150ms ease-out;
  width: 100%;
  z-index: 2;
}

.brand-block .brand-column a:hover::after {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid #ddd;
}

.product-block a {
  text-transform: none;
  color: #000;
  display: flex;
  align-items: center;
}

.product-block .image-container {
  margin-right: 10px;
}

.product-block .image-container img {
  width: 70px;
  max-width: 100%;
}

.product-block .product-content {
  max-width: 105px;
  font-size: 12px;
}

.product-block .product-content .product-name,
.product-block .product-content .product-des {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-block .product-content .product-rating.filled,
.product-block .product-content .product-rating {
  margin-top: 3px;
  display: block;
  font-size: 13px;
  height: 13px;
  line-height: 1.1;
  margin: 2px 0 4px;
  background: url(../images/blank-star.svg) 0 0 no-repeat;
  background-size: contain;
}

.product-block .product-content .product-rating.filled {
  background: url(../images/filled-star.svg) 0 0 no-repeat;
  background-size: contain;
}

.product-block .product-content .price {
  color: #2c2c2c;
  display: block;
  font-size: 1.07em;
  font-weight: 500;
}

/* ----------article--------- */
.article .owl-carousel .article-section {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  background-color: #fff;
  border: 1px solid #eee;
}

.article .owl-carousel .article-section:hover {
  border: 1px solid #f4a42f;
}

.article .owl-carousel .article-image {
  width: 50%;
  position: relative;
}

.article .article-image img {
  height: 215px;
  object-fit: cover;
}

.article .article-content {
  padding: 15px 25px;
  width: 50%;
  position: relative;
}

.article .article-content h4 {
  margin-top: 0;
  color: #444;
  margin-bottom: 12px;
  font-size: 16px;
}

.article .article-desc p {
  margin-bottom: 22px;
  font-weight: bold;
  line-height: 20px;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #555;
}

.article .article-date {
  color: #999;
  margin-bottom: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.article button {
  box-shadow: none;
  border: 0;
  min-width: 120px;
  margin: 0;
  color: #000;
  font-weight: bold;
}

.article .owl-carousel .owl-nav button.owl-prev,
.article .owl-carousel .owl-nav button.owl-next {
  color: #FFF;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 54px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 84px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-width: unset;
}

.article .owl-carousel .owl-nav button.owl-prev,
.article .owl-carousel .owl-nav button.owl-next {
  left: 2px;
  font-size: 18px;
  width: 30px;
  height: 35px;
  line-height: 37px;
  background-color: #fe9400;
  opacity: 1;
}

.article .owl-carousel .owl-nav button.owl-next {
  right: 2px;
  left: auto;
}

.article .owl-dots {
  display: none;
}




@media(max-width: 991px) {
  .mega-menu {
    display: none;
  }
}

@media(min-width:992px) {
  .nav.navbar-nav li.submenu {
    position: static;
  }

  .nav.navbar-nav {
    position: relative;
  }

  .mega-menu {
    border-top: 2px solid #e88922;
    position: absolute;
    padding: 20px;
    background-image: url(../images/mega-menu-1.jpg);
    color: #000;
    left: -160px;
    width: 970px;
    top: -10000px;
    box-shadow: 0 0 3px #333;
    opacity: 0;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .cars-mega-menu.mega-menu {
    background-image: url(../images/mega-menu-1.jpg);
  }

  .nav.navbar-nav li.submenu>a {
    position: relative;
  }

  .nav.navbar-nav li.submenu>a:before,
  .nav.navbar-nav li.submenu>a:after {
    content: '';
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 12px solid #eee;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 99;
  }

  .nav.navbar-nav li.submenu>a:before {
    border: 14px solid transparent;
    border-bottom: 14px solid #e88922;
    top: 28px;
    z-index: 9999;
  }

  .nav.navbar-nav li.submenu:hover>a:after,
  .nav.navbar-nav li.submenu:hover>a:before,
  .nav.navbar-nav li:hover .mega-menu {
    /*z-index: 9999;*/
    opacity: 1;
  }

  .nav.navbar-nav li.submenu:hover>a:after {
    z-index: 9999;
  }

  .nav.navbar-nav li:hover .mega-menu {
    top: 55px !important;
  }

  .nav.navbar-nav li.submenu:hover > a:before{
    opacity: 1;
    border: 14px solid transparent;
    border-bottom: 14px solid #e88922;
    top: 28px;
    z-index: 9999;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav.navbar-nav li.submenu:hover > a:after{
    z-index: 9999;
    opacity: 1;
    content: '';
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 12px solid #eee;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav.navbar-nav li .mega-menu a:not(.fp-img) {
    color: #444;
    font-size: 14px;
    margin: 4px 0 2px;
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }
  .nav.navbar-nav li .mega-menu .fill-btn{
    color: #fff !important;
  }
  .nav.navbar-nav li .mega-menu a:hover {
    color: #e88922;
  }

  .nav.navbar-nav li .mega-menu ul li {
    display: block;
    float: none;
  }

  .nav.navbar-nav li .mega-menu ul li strong {
    font-size: 16px;
  }

  .nav.navbar-nav li .mega-menu .cars-images {
    clear: both;
  }

  .nav.navbar-nav li .mega-menu .cars-images div.car {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 2px #777;
    position: relative;
    overflow: hidden;
  }

  .nav.navbar-nav li .mega-menu .cars-images div.car:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav.navbar-nav li .mega-menu .cars-images div.car:hover:after {
    top: 0;
  }

  .nav.navbar-nav li .mega-menu .cars-images div.car img {
    width: 100%;
  }

  .mega-menu-heading {
    margin-bottom: 15px;
    font-size: 16px;
    color: #e88922;
    font-weight: bolder;
    border-bottom: 1px dashed #999;
    padding-bottom: 8px;
  }

  .cars-images {
    box-shadow: 0 0 2px #999;
    overflow: hidden;
    text-align: center;
  }

  .cars-images .fp-img {
    height: 170px;
    overflow: hidden;
  }

  .mega-menu-section-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .mega-menu-section-wrap ul {
    border-right: 1px dashed #999;
  }
  
}

/* -------media query--------- */
@media(max-width: 1024px){
  .sub-header .row{
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .sub-header .money-back{
    display: none !important;
  }
  
}
@media(max-width: 992px) {

  .category-block,
  .brand-block,
  .product-block {
    padding: 0 15px;
  }

  .category-block .catergory-column,
  .product-block .product-column {
    flex: 1 0 48%;
    max-width: 48%;
    margin: 0 4px 20px 0;
  }

  .brand-block .brand-column {
    flex: 1 0 23%;
    max-width: 23%;
    margin: 0 5px 20px 0;
  }
  .desktop-only .login-cart-block{
    display: none !important;
  }

  .moblile-only form {
    display: block;
  }

  form.desktop-only input,
  form.desktop-only .button {
    display: none;
  }
  .desktop-only .login-sell-block{
    display: block;
    list-style-type: none;
  }
  .desktop-only .login-sell-block li{
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .desktop-only .login-sell-block li a{
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .desktop-only .login-sell-block li a:hover{
    color: #f4a42f;
  }
}

@media(max-width: 768px) {
  .categories-list {
    display: none;
  }

  .category-list-wrapper {
    text-align: center;
  }

  .category-block .catergory-column {
    flex: 1 0 32%;
    max-width: 32%;
  }

  .category-block .catergory-column a {
    flex-direction: column;
  }

  .brand-block .brand-column {
    flex: 1 0 32%;
    max-width: 32%;
    margin: 0 3px 20px 0;
  }

  .banner-wrapper {
    flex-direction: column;
  }

  .banner-wrapper .left-section,
  .banner-wrapper .right-section {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .banner-wrapper .floating-btn {
    bottom: 15px;
    font-size: 14px;
  }

  .browse-car .browse-car-row {
    flex-wrap: wrap;
  }

  .browse-car .browse-car-inner a img {
    width: 100%;
  }

  .browse-car .browse-car-inner {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .browse-car {
    margin: 15px 0 30px 0;
  }

  .browse-car h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media(max-width: 576px) {
  .search-popup {
    padding: 40px 3px;
  }

  .search-box .close_i {
    top: -19px;
    right: 11px;
  }

  .category-block .catergory-column {
    flex: 1 0 31%;
    max-width: 31%;
  }

  .product-block .product-column {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .product-block .product-column a {
    justify-content: center;
  }

  .product-block .product-content {
    max-width: unset;
    text-align: left;
    list-style-type: none;
  }

  .product-block .product-content .product-des {
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }

  .product-block .product-column .ghost-btn {
    margin: 0 auto;
  }

  .navbar {
    height: 125px;
    align-items: baseline;
  }

  form>.textbox {
    flex: 1 0 85%;
  }
  .article .article-content{
    padding: 10px 10px;
  }
  .article .article-date i{
    font-size: 12px;
  }
  .article .article-date span{
    font-size: 12px;
  }
  .sub-header .shipping,
  .sub-header .call-us{
      flex: 1 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
  }
  .sub-header .call-us{
    margin-bottom: 0;
  }
  .navbar{
    height: auto;
  }
  .navbar-brand img{
    width: 80px;
  }
  .moblile-only{
    flex: 1 0 47%;
    max-width: 45%;
    padding: 0;
    justify-content: flex-end;
  }
  form>.textbox{
    width: 110px;
    border-radius: 4px;
    height: 36px;
  }
  form>.button{
    display: none;
  }
  .moblile-only form{
    display: flex;
  }
  .navbar-dark .navbar-toggler{
    padding: 2px;
  }
}

@media(min-width:1050px) {
  .mega-menu {
    left: -150px;
    width: 1000px;
  }
}

@media(min-width:1200px) {
  .mega-menu {
    left: 0px;
    width: 1000px;
  }
}