* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ---------common classes -------*/
.fill-btn,
.ghost-btn {
  background: #f4a42f;
  display: block;
  width: auto;
  padding: 12px 9px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.fill-btn:hover,
.fill-btn:focus {
  background: #d59228;
  color: #fff;
}

.ghost-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #f4a42f;
}

.ghost-btn:hover,
.ghost-btn:focus {
  background: #d59228;
  color: #fff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* -------header----- */
.navbar {
  background-color: #000;
}

.navbar-brand img {
  width: 130px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
  color: #f4a42f;
}

.login-cart-block i {
  color: #fff;
  cursor: pointer;
}

.navbar-collapse form {
  outline: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.navbar-collapse form>.textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  max-width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: #fff;
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.navbar-collapse form>.textbox:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-collapse form>.button {
  outline: 0;
  background: none;
  background-color: #f4a42f;
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.navbar-collapse form>.button:hover {
  background-color: #f19d23;
}

.cart-icon,
.login-icon {
  position: relative;
}

.cart-icon .shop_i {
  cursor: pointer;
}

.cart-icon .badge {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  top: -8px;
  background: #eda31a;
  border-radius: 50%;
  text-align: center;
  right: -8px;
  color: #fff;
}

.cart-block,
.login-block {
  background-color: #fff;
  width: 330px;
  position: absolute;
  right: -10px;
  top: 90px;
  background: #fff;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 2px #aaa;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.login-block {
  width: 200px;
  right: -2px;
}

.cart-block.show,
.login-block.show {
  visibility: visible;
  opacity: 1;
  top: 47px;
  z-index: 1;
}

.cart-block:before,
.login-block:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #fff;
  right: 7px;
  top: -30px;
}

.cart-block h3 {
  color: #000;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cart-block span {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  color: red;
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.cart-block a {
  background: #f5f5f5;
  text-align: center;
  margin-bottom: 2px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  padding: 10px 5px;
}

/* -----------sub header------- */
.sub-header {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #f4a42f;
}

.sub-header .money-back,
.sub-header .shipping {
  position: relative;
}

.sub-header .money-back:after,
.sub-header .shipping:after {
  content: '';
  position: absolute;
  height: 10px;
  display: inline-block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 1px;
}

.sub-header a {
  color: #fff;
}

.sub-header a,
.sub-header span {
  text-transform: uppercase;
}

.sub-header .row {
  padding: 10px 0;
}

.sub-header .shipping span:first-child {
  color: #f4a42f;
  padding-right: 5px;
}

.sub-header .call-us a {
  color: #f4a42f;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.sub-header .call-us i {
  font-size: 16px;
}

/* ------banner section------ */
.banner-wrapper .left-section,
.banner-wrapper .right-section {
  flex: 1 0 50%;
  max-width: 50%;
  position: relative;
}

.banner-wrapper .left-section img,
.banner-wrapper .right-section img {
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.banner-wrapper .left-section:hover img,
.banner-wrapper .right-section:focus img,
.banner-wrapper .left-section:focus img,
.banner-wrapper .right-section:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.banner-wrapper .floating-btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.banner-wrapper .floating-btn:hover {
  background-color: #000;
}

.banner-wrapper .floating-btn img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* -------browse-car--------- */
.browse-car {
  margin: 40px 0 30px 0;
}

.browse-car h3 {
  margin-bottom: 30px;
}

.browse-car .browse-car-row {
  display: flex;
}

.browse-car .browse-car-inner {
  flex: 1 0 33.33%;
  max-width: 33.33%;
}

.browse-car .browse-car-inner a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.browse-car .browse-car-inner a span {
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  align-self: center;
}

.browse-car .browse-car-inner:nth-child(2) a {
  height: 100%;
}

.browse-car .browse-car-inner a img {
  transition: all 0.3s ease-in-out;
}

.browse-car .browse-car-inner a:hover img {
  transform: scale(1.1);
}

.browse-car .browse-car-inner a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 1;
  height: 100%;
}

/* ----------search-popup---------- */
.search-popup {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: auto;
  background: #f4a42f;
}

.search-popup .search-wrapper {
  width: 100%;
  height: 100%;
  margin: 45px 30px 30px 30px;
}

.search-popup .input-text {
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 40px 40px;
  height: 60px;
  outline: none;
  padding: 10px 60px 10px 60px;
}

.search-popup .search-box {
  position: relative;
  margin-bottom: 10px;
}

.search-popup .search_i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  font-size: 26px;
}

.search-suggestion {
  background-color: #fff;
  border-radius: 10px;
}

.suggestion-row {
  display: flex;
}

.categories-list {
  min-width: 300px;
  border-right: 1px solid #ddd;
}

.categories-list h4 {
  padding: 20px 0px 5px 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.categories-list ul {
  list-style-type: none;
}

.categories-list ul li {
  padding: 0px 0px 10px 30px;
}

.category-block,
.brand-block {
  padding: 0 30px;
}

.category-block h4,
.brand-block h4 {
  padding: 20px 0px 5px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.category-block .category-row,
.brand-block .brand-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

.category-block .catergory-column{
  flex: 1 0 32%;
  max-width: 32%;
  margin: 0 7px 20px 0;
}
.brand-block .brand-column{
  flex: 1 0 19%;
    max-width: 19%;
    margin: 0 8px 20px 0;
}
.category-block .catergory-column a,
.brand-block .brand-column a {
  display: flex;
  align-items: center;
}

.category-block .catergory-column img {
  width: 70px;
  margin-right: 10px;
}

.category-block .catergory-column span {
  font-size: 14px;
  color: #000;
}
.brand-block .brand-column img{
  width: 100px;
}
.brand-block .brand-column a {
  justify-content: center;
  border-radius: 3px;
  position: relative;
  height: 70px;
}

.brand-block .brand-column a:after {
  background: rgba(0, 0, 0, 0.02);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background 150ms ease-out;
  transition: background 150ms ease-out;
  width: 100%;
  z-index: 2;
}

.brand-block .brand-column a:hover::after {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid #ddd;
}